.search {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    padding: 7px 17px;
    border-radius: 30px;
    align-items: center;
    border: 1px solid transparent;
    transition: all .5s;
    margin: 7px;
    margin-bottom: 0px;
    background: white;
    max-height: 60px;
    width: 50%;
}

.search.active {
    border-color: var(--primary);
}

.search input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-left: 10px;
    /* identical to box height */
    width: 100%;
    color: #535353;
    border: 0;
    outline: none;
    background: transparent;
    width: 100%;
}